.first-info {
  padding: 7rem 2rem;
}

.akwaaba,
.what-i-do {
  display: grid;
  gap: 6rem;
  grid-template-columns: 1fr 1fr;

  padding-block: 8rem;

  position: relative;
  top: 5rem;
  opacity: 0;
  transition: all 1s ease-out;

  @media (max-width: $w-700) {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

.akwaaba {
  &-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;

    h2 {
      font-family: $akwaaba;
      margin-bottom: 2rem;
    }

    &-copy {
      display: flex;
      flex-direction: column;
      gap: 2.3rem;
    }
  }

  &-right {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.what-i-do {
  @media (max-width: $w-700) {
    flex-direction: column-reverse;
  }

  &-left {
    display: flex;
    align-items: center;

    padding-block: 4rem;
    width: 100%;

    img {
      width: 100%;
    }
  }

  &-right {
    h2 {
      font-family: $font-heading;
      margin-bottom: 4rem;
      text-align: center;
    }

    &_careers {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .career-card {
        background-color: $color-BG-0;
        padding: 2rem 2.5rem;
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.05);

        display: flex;
        flex-direction: column;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          background: linear-gradient(to bottom, $color-M-200, $color-M-700);
          z-index: -1;
          margin-left: -6px;
        }

        h3 {
          text-transform: capitalize;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .open-btn {
            cursor: pointer;
          }
        }

        &-copy {
          display: grid;
          grid-template-rows: 0fr;
          transition: all 0.5s ease-in;

          p {
            overflow: hidden;
            line-height: 1.9rem;
          }
        }
      }

      .career-card--open {
        .career-card-copy {
          grid-template-rows: 1fr;
          padding-top: 2rem;
        }
      }
    }
  }
}
