@font-face {
  font-family: stolz;
  src: url(/Stolzl-Bold.ttf);
}
@font-face {
  font-family: akayakanadaka;
  src: url(/AkayaKanadaka-Regular.ttf);
}
@font-face {
  font-family: soka;
  src: url(/soka-UltraBold.ttf);
}
