.qualifications {
  margin-block: 25rem 10rem;
  padding: 2rem;

  &-head {
    margin-bottom: 5rem;

    text-align: center;
  }
}

.slider {
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
  overflow: hidden;
  scroll-behavior: smooth;
  border-inline: 3px solid $color-M-1000;

  display: flex;
  gap: 1rem;

  &-item {
    flex-shrink: 0;
    width: 90%;
    position: relative;
    transition: all 500ms ease-out;

    &_image {
      width: 100%;
      height: auto;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &_description {
      margin-top: 1rem;
      background-color: $color-M-1000;
      border-radius: $radius-small;
      padding: 0.5rem 1rem;
      color: $color-M-50;

      text-transform: capitalize;

      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      span:last-child {
        background-color: $color-M-50;
        color: $color-M-1000;
        padding: 0.3rem 1rem;
        border-radius: $radius-small;
      }
    }
  }

  &-indicators {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    margin-top: 3rem;

    .slider-balls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      span {
        width: 10px;
        height: 10px;
        border: 1px solid $color-M-1000;
        border-radius: 100px;
        transition: all 500ms linear;
        cursor: pointer;
      }
    }

    .slider-arrow {
      cursor: pointer;
      display: inline-block;

      display: flex;
      align-items: center;
    }

    .active {
      width: 12px;
      height: 12px;
      background-color: $color-M-1000;
    }
  }
}
